/vendor/
/node_modules/
/.vscode/*.log
.env
.DS_Store
config.local.php
service/config_local.py
*.sw*
/cache/
/logs/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
.Python

# Job files
/service/jobs/
